In [ ]:
## declaration of tuple

In [1]:
s=("teju","raj","anu","dolly","saara","manasa","vani")
print(s)

('teju', 'raj', 'anu', 'dolly', 'saara', 'manasa', 'vani')

In [2]:
type(s)

tuple

In [ ]:
## add elements in tuple

In [3]:
values=(34,54,76,132,23)
print(values)

(34, 54, 76, 132, 23)

In [4]:
value[s]=132
## we cannot add elements directly in tuple

NameError: name 'value' is not defined

In [5]:


values=(34,54,76,132,23,456,345)
print(values)

(34, 54, 76, 132, 23, 456, 345)

In [ ]:
## updating the elements  in the tuple

In [1]:
x=(2,3,56,15,76,24,25)
y=(6,45,24,1)
print(x+y)

(2, 3, 56, 15, 76, 24, 25, 6, 45, 24, 1)

In [2]:
x=(2,3,56,15,76,24,25)
y=(6,45,24,1)
z=x+y
print(z)

(2, 3, 56, 15, 76, 24, 25, 6, 45, 24, 1)

In [4]:


type(z)

tuple

In [7]:
x=(3)
print(x)
type(x)

3

int

In [9]:
x=(3,)
print(x)
type(x)

(3,)

tuple

In [ ]:
## deleting  of elements
pop()
delete()
remove()

In [10]:
q=(4,3,45,11,34,54)
print(q)

(4, 3, 45, 11, 34, 54)

In [12]:
del q
print(q)

NameError: name 'q' is not defined

In [13]:
s=("teju","raj","anu","dolly","saara","manasa","vani",54,77)
print(s)

('teju', 'raj', 'anu', 'dolly', 'saara', 'manasa', 'vani', 54, 77)

In [14]:
type(s)

tuple

In [18]:
del s

NameError: name 's' is not defined

In [22]:
s=("teju","raj","anu","dolly","saara","manasa","vani")
type(s)

tuple

In [23]:
print(s)

('teju', 'raj', 'anu', 'dolly', 'saara', 'manasa', 'vani')

In [ ]:
## slicing  of tuple

In [25]:
c=(3,44,23,1,34,54,57,33,24,5,7,2,72,56)
print(c)

(3, 44, 23, 1, 34, 54, 57, 33, 24, 5, 7, 2, 72, 56)

In [26]:
c[0:4]

(3, 44, 23, 1)

In [27]:
c[ : ]

(3, 44, 23, 1, 34, 54, 57, 33, 24, 5, 7, 2, 72, 56)

In [28]:

c[ :7]

(3, 44, 23, 1, 34, 54, 57)

In [29]:
c[5: ]

(54, 57, 33, 24, 5, 7, 2, 72, 56)

In [ ]:

## user accepting string

In [ ]:
sms=print(input('can i say something '))

In [31]:

sms=(input('can i say something '))

can i say something hi how are you doing

In [1]:
num=input('enter a num')
print(num)

enter a num32
32

In [2]:
sms=print(input('tell  something i will repeat it'))

tell  something i will repeat itBeulah
Beulah

In [ ]:
## enancement

In [7]:

name=(input('please enter you are name')
      print("\n welcome back too see you an flipkart:{name.upper()}")

SyntaxError: invalid syntax (<ipython-input-7-f4232b07b0a3>, line 2)